doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='author', content= "Syeef Karim")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:image", content="http://studentdev.io/img/share.png")
    title StudentDev
    link(href="https://fonts.googleapis.com/css?family=Raleway:400,600,900", rel="stylesheet")
    != css()

  body
    .hero
      .wrapper
        nav
          a.logo(href="/"): img(src="/img/logo.png", alt="StudentDev")
          ul
            li: a(href="#developer") Developer resources
            li: a(href="#design") Design resources
            li: a(href="#community") Community & Meetups
        h1 A CURATED LIST TO HELP YOU BECOME A GREAT STUDENT DEVELOPER
    .content

      h1#learning Become better at learning

      :marked
        ## Videos

        * [The first 20 hours -- how to learn anything | Josh Kaufman | TEDxCSU](https://www.youtube.com/watch?v=5MgBikgcWnY)

      h1#developer Developer resources

      :marked
        ## Languages

        ### C#

        * [C# - C# Programming](https://en.wikibooks.org/wiki/C_Sharp_Programming)
        * [C# - C# Essentials](http://www.techotopia.com/index.php/C_Sharp_Essentials)
        * [C# - Data Structures and Algorithms with Object-Oriented Design Patterns in C#](http://www.brpreiss.com/books/opus6/)

        ### Clojure

        * [Clojure - Clojure for the Brave and True](http://www.braveclojure.com/clojure-for-the-brave-and-true/)
        * [https://en.wikibooks.org/wiki/Clojure_Programming](https://en.wikibooks.org/wiki/Clojure_Programming)

        ### Go

        * [Go - build web application with golang](https://astaxie.gitbooks.io/build-web-application-with-golang/content/en/preface.html)

        ### Haskell

        * [Haskell - Real World Haskell](http://book.realworldhaskell.org/read/)
        * [Haskell - Learn you a Haskell for Great Good!](http://learnyouahaskell.com/chapters) 

        ### HTML

        * [HTML - Dive Into HTML5](http://fortuito.us/diveintohtml5/)
        * [HTML - HTML Dog](http://www.htmldog.com/)
        * [HTML & CSS - Learn to Code HTML & CSS](http://learn.shayhowe.com/html-css/)

        ### Java

        * [Java - Thinking in Java](http://www.mindview.net/Books/TIJ/)
        * [Java - Think Java [PDF]](http://greenteapress.com/thinkjava6/thinkjava.pdf)
        * [Java - Java 6 Tutorial [PDF]](http://docs.oracle.com/javaee/6/tutorial/doc/javaeetutorial6.pdf)

        ### JavaScript

        * [JavaScript - Eloquent JavaScript](http://eloquentjavascript.net/)
        * [JavaScript - Crockford's JavaScript](http://www.crockford.com/javascript/)
        * [JavaScript - JavaScript Basics by jQuery Fundamentals](http://jqfundamentals.com/chapter/javascript-basics)
        * [JavaScript - JavaScript Guide by Mozilla Developer Network](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide)

        ### PHP

        * [PHP - PHP the right way](http://www.phptherightway.com/)

        ### Python

        * [Python - Learn Python the hard way](http://learnpythonthehardway.com/)

        ### Ruby

        * [Ruby - Learn Ruby the hard way](http://learnrubythehardway.com/)
        * [Ruby - Try Ruby](http://tryruby.org/)

        ### Scala

        * [Scala - Scala School](http://twitter.github.io/scala_school/)

        ## Online Academies

        * [Microsoft Virtual Academy](https://mva.microsoft.com/)
        * [Codecademy](https://www.codecademy.com/)
        * [Treehouse](https://teamtreehouse.com/)
        * [Coursera](Coursera)
        * [edX](https://www.edx.org/)
        * [Udemy](https://www.udemy.com/)
        * [Khan Academy](https://www.khanacademy.org/)
        * [Code.org](https://code.org/learn)
        * [Learn X in Y minutes](https://learnxinyminutes.com/)
        * [Code School [Paid]](https://www.codeschool.com/)

        ## Web Frameworks

        ### JavaScript

        * [React.js Fundamentals](http://courses.reactjsprogram.com/courses/reactjsfundamentals)
        * [Learn Redux](https://learnredux.com/)
        * [Ultimate guide to learning AngularJS in one day](https://toddmotto.com/ultimate-guide-to-learning-angular-js-in-one-day/)
        * [Angular 2 Training Book](http://angular-2-training-book.rangle.io/)
        * [The Node Beginner Book](http://nodebeginner.org/)
        * [Mastering NodeJS](http://visionmedia.github.io/masteringnode/)

        ### Python

        * [The Flask Mega Tutorial](http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world)
        * [Tango with Django](http://www.tangowithdjango.com/)

        ### Ruby

        * [Rails Girls Materials - Ruby on Rails](http://railsgirls.com/materials)
        * [Mackenzie Child - Intro to Rails](https://mackenziechild.me/intro-to-rails/)
        * [Mackenzie Child - 12 Ruby on Rails apps in 12 weeks](https://mackenziechild.me/12-in-12/)
        * [Ruby On Rails Tutorial (Rails 5)](https://www.railstutorial.org/book)

        ## Mobile Development

        ### Android

        * [Udacity - Developing Android Apps](https://www.udacity.com/course/developing-android-apps--ud853)

        ### iOS

        * [Resources to learn Swift for a wide ability range](http://www.learnswift.tips/)
        * [Developing iOS 9 Apps with Swift by Stanford](https://itunes.apple.com/us/course/developing-ios-9-apps-swift/id1104579961)

        ## Tools

        ### Git

        * [Pro Git](http://progit.org/book/)
        * [Git Quickstart Guide by John Stevenson [PDF]](http://jr0cket.co.uk/developer-guides/git-quickstart-guide.pdf)
        * [A practical git introduction](http://marc.helbling.fr/2014/09/practical-git-introduction)
        * [Git from the bottom up](http://ftp.newartisans.com/pub/git.from.bottom.up.pdf)

      h1#interviews Technical Interview Preperation

      :marked
        * [Pramp](http://pramp.com/)
        * [HackerRank](http://hackerrank.com/)
        * [Topcoder](http://topcoder.com/)
        * [Glassdoor](http://glassdoor.com/)
        * [CareerCup](http://careercup.com/)

      h1#design Design Resources

      :marked
        ## Getting started

        * [Hack Design](https://hackdesign.org/)
        
        ## Color

        * [Flat UI Colors](https://flatuicolors.com/)
        * [Adobe Color CC](https://color.adobe.com/)

        ## Fonts

        ### Facts about Fonts

        * [Butterick’s Practical Typography - A very comprehensive typography resource](http://practicaltypography.com/)
        * [Type Connection - Learn about font pairings](http://www.typeconnection.com/)
        
        ### [Mostly] Free Fonts

        * [WhatTheFont](https://www.myfonts.com/WhatTheFont/)
        * [DaFont](http://www.dafont.com/)
        * [Google Fonts](https://www.google.com/fonts)

      h1#community Community & Meetups
      
      :marked
        * [London Tech Meetups](http://londontechmeetups.com/)
        * [Hackathon Hackers](https://github.com/HackathonHackers/groups)
        * [Major League Hacking](http://mlh.io/)

    footer: .wrapper
      h1 StudentDev
      ul
        li 
          h2 About this list
          p This list has been put together by #[a(href="http://twitter.com/syeefk") @syeefk] and is open to anyone to contribute towards.
        li 
          h2 Add to this list
          p Send me a tweet #[a(href="http://twitter.com/syeefk") @syeefk], or drop an email to syeef [at] studenthack [dot] com.