$breakpoint = 960px
$color = #168EDE

*
	margin 0
	padding 0
	box-sizing border-box
	
body
	font-family "Raleway", sans-serif
	
.wrapper
	max-width $breakpoint
	margin 0 auto
	display block
	
.hero
	background-image url("/img/hero.jpg")
	background-position center center
	background-repeat no-repeat
	background-size cover
	padding 2em 1em 1em
	position relative
	nav
		display flex
		flex-direction row
		justify-content space-between
		a.logo img
			width 11.5em
			display block
		ul li 
			display inline-block
			margin-top 0.5em
			margin-left 1em
			a 
				color white
				text-transform uppercase
				text-decoration none
				font-weight 600
	h1
		text-align center
		font-weight bold
		color white
		font-size 3rem
		margin 4em 0
		font-weight 900
		line-height 1.5
		
.content
	display block
	margin 0 auto
	padding: 0 1em 3em 1em
	max-width $breakpoint
	*
		font-weight normal
		line-height 1.5
	h1
		margin-top 2em
	h2
		margin 1em 0
		text-decoration underline
	h3
		margin 1em 0
	li
		margin-left 1.5em
	a 
		color $color
	h1 + ul
		margin-top 1.5em

footer
	border-top 1px solid lightgrey
	padding 1em 1em 2em 1em
	*
		font-weight normal
		font-size 1em
	h1
		font-weight bold
		margin-bottom 1em
		margin-top 1em
	ul
		display flex
		flex-direction row
		justify-content space-between
		li
			width 48%
			list-style-type none
			h2
				margin-bottom 1em
				text-decoration underline
			a
				color $color

+below($breakpoint)
	.hero
		background $color
		padding-top 1em
		nav 
			justify-content center
			margin-top 2em
			img
				margin-bottom 1em
			ul
				display none
		h1
			font-size 1.5em
			margin 1em
	.content
		padding 1em
		margin-bottom 1em
	h1, h2, h3, p
		margin-top 1rem !important
	footer ul
		flex-direction column
		li
			width 100%
		margin-bottom 1rem !important